---
## This file contains a sample OIDC configuration
## Note: this is a sample file 
# [required] OIDC IssuerURL - token issuer URL
issuer_url: # Fill here
# [required] Service account client ID
client_id: # Fill here
# [required] Service account client Secret
client_secret: # Fill here
# [optional] OIDC audience
audience: # Fill here 